.welcome {
	width: 100%;
	padding-top: 140px;
	position: relative;
	&.welcome_bg {
		min-height: 100vh;
		background: url("../images/bg_welcome.jpg") no-repeat center center;
		background-size: cover;
		&.welcome_bg_catalog {
			background: url("../images/bg_2.png") no-repeat center center;
			background-size: cover;
		}
		@media (max-width: 1200px){
			min-height: unset;
			padding-bottom: 30px;
			&.welcome_bg_catalog {
				background: url("../images/bg_2.png") no-repeat 20% center;
				background-size: cover;
			}
		}
	}
	.container {
		position: relative;
		z-index: 10;
	}
	.logo {
		width: 107px;
		margin-right: 10px;
	}
	h1, .h1 {
		color: #fff;
		line-height: 32px;
		font-size: $sizeFont * 3.6;
		@media (max-width: 991px) {
			font-size: $sizeFont * 4.6;
			line-height: 130%;
			margin-bottom: 0px;
		}
		@media (max-width: 761px) {
			font-size: $sizeFont * 3.2;
		}
	}
	.btn {
		border-radius: 8px;
		background-color: $mainTextColor;
		padding: 14px 15px;
		color: #fff;
		min-width: 170px;
		font-size: $sizeFont * 1.2;
		text-align: center;
		text-transform: uppercase;
		@media (max-width: 576px){
			display: none;
		}
	}
	p {
		font-family: 'Montserrat', sans-serif;
		padding-top: 64px;
		padding-bottom: 78px;
		color: rgba(255, 255, 255, 0.8);
		font-size: $sizeFont * 1.6;
		line-height: 160%;
		color: rgba(255, 255, 255, 0.8);
		margin: 0px;
		@media (max-width: 991px) {
			padding-top: 0px;
			line-height: 200%;
		}
		@media (max-width: 761px) {
			font-size: $sizeFont * 1.4;
			padding-bottom: 40px;
		}
	}
	.slick__wrap__category {
		border-top: 1px solid rgba(255, 255, 255, 0.4);
		@media (max-width: 761px) {
			border: none;
		}
	}
	.welcome__video {
		max-width: 540px;
		max-height: 340px;
		border-radius: 8px;
		overflow: hidden;
	}
	.welcome__bg {
		position: absolute;
		z-index: 5;
		background-image: url("../images/bg_2.png");
		background-repeat: no-repeat;
		background-size: cover;
		top: 0px; right: 0px;
		bottom: 0px; left: 0px;
		overflow: hidden;
		img {
			display: block;
			width: 100%;
			position: absolute;
			z-index: 4;
			top: 0px; right: 0px; bottom: 0px; left: 0px;
		}
		.welcome__bg__view {
			position: absolute;
			z-index: 6;
			top: 0px; right: 0px;
			bottom: 0px; left: 0px;
		}
	}
	@media (max-width: 1200px) {
		padding-top: 114px;
	}
	@media (max-width: 991px) {
		padding-top: 80px;
	}
}
.subscribe {
	padding-bottom: 89px;
	@media (max-width: 761px) {
		padding-bottom: 40px;
	} 
}