$mainBGcolor: #191919;
$mainTextColor: #B79B6C;
$sizeFont: 10px;

@function darker($color, $tone) {
	$adjust: -16*$tone;
	@return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

html,
body {
	height: 100%;
}

html {
	font-size: 12pt;
}
body {
	background-color: #0D0B0B;
	font-family: 'Montserrat', sans-serif;
}
@font-face {
	font-family: "Rockwell"; /* Имя шрифта */
	src: url('../fonts/Rockwell.ttf'); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: "SegoeUISemibold"; /* Имя шрифта */
	src: url('../fonts/SegoeUISemibold.ttf'); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: "ProximaNovaCondRegular"; /* Имя шрифта */
	src: url('../fonts/ProximaNovaCond-Regular.ttf'); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: "ptsans"; /* Имя шрифта */
	src: url('../fonts/ptsans.ttf'); /* Путь к файлу со шрифтом */
}

/* Прижать футер */
.page {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow-x: hidden;
	.content {
		flex: 1 0 auto;
		overflow-x: hidden;
	}
	.footer {
		flex: 0 0 auto;
	}
}



iframe{
	display: block;
	border: 0px;
}
h1 {
	font-family: 'Montserrat', sans-serif;
}
h2 {
}
p {
}



.color_white_1 {
	color: rgba(255, 255, 255, 1);
}
.color_white_08 {
	color: rgba(255, 255, 255, 0.8);
}
.color_white_07 {
	color: rgba(255, 255, 255, 0.7);
}
.color_white_06 {
	color: rgba(255, 255, 255, 0.6);
}
.color_white_04 {
	color: rgba(255, 255, 255, 0.4);
}

.link {
	box-shadow: inset 0 -0.0rem 0 0 $mainTextColor;
	transition: 0.5s;
	padding: 0 8px;
	&:hover {
		box-shadow: inset 0 -1.4rem 0 0 #fff;
		transition: 0.5s;
		color: $mainTextColor;
	} 
}
