.form {
}
.form__input {
	color: #fff;
	font-size: $sizeFont * 1.4;
	width: 100%;
	margin: 0px;
	input {
		padding: 15px 20px;
		color: #000;
		font-size: $sizeFont * 1.4;
		display: block;
		width: 100%;
		border: 0px;
	}
	&.form__input_done {
		input {
			color: #000;
			border: 1px solid #000;
			background: none;
		}
	}
}
.search {
	margin-right: 70px;
	width: 20px;
	height: 38px;
	position: relative;
	display: flex;
	justify-content: flex-end;
	&:before {
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		position: absolute;
		z-index: 1;
		top: 50%; right: 0px;
		transform: translateY(-50%);
		background-image: url("../images/search.svg");
		background-repeat: no-repeat;
		background-size: 100% 
	}
	input[type='search']{
		position: relative;
		z-index: 2;
		width: 20px;
		opacity: -100;
		background: none;
		border: 0px;
		border-bottom: 1px solid #fff;
		transition: 0.5s;
		color: #fff;
		padding: 3px 10px;
		background-image: url("../images/search.svg");
		background-repeat: no-repeat;
		background-position: 96% center;
		&:focus {
			background-color: #191919;
			border-radius: 10px;
			border: 1px solid $mainTextColor;
			transition: 0.5s;
			width: 240px;
			padding-right: 37px;
			opacity: 100;
			outline: none;
			& + span {
				display: block;
				right: 30px;
				transition:  0.5s;
				opacity: 1;
			}
		}
		&::-ms-clear,
		&::-ms-reveal {  display: none; width : 0; height: 0; }
		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration { display: none; }
	}
	span {
		display: none;
		position: absolute;
		right: 0;
		top: 8px; bottom: 8px;
		z-index: 100;
		background-color: $mainTextColor;
		width: 1px;
		transition:  0.5s;
		opacity: 0;
	}
}




.subscribe {
	width: 393px;
	.subscribe__wrap {
		position: relative;
		.btn__subscribe {
			position: absolute;
			display: block;
			border: 0px;
			background-color: unset;
			background-image: url('../images/arrow.svg');
			width: 20px;
			height: 18px;
			right: 0px; top: 16%;
			&:focus{
				outline: none;
			}
		}
	}

	input[type="email"] {
		background: none;
		border: 0px;
		border-bottom: 1px solid #fff;
		transition: 0.5s;
		color: #fff;
		width: 100%;
		padding: 0 26px 15px 0;
		font-size: $sizeFont  * 1.8;
		margin-bottom: 10px;
		&:focus {
			outline: none;
		}
		&::-webkit-input-placeholder { 
			color: #fff; 
		}
		&:-ms-input-placeholder { 
			color: #fff; 
		}
		&::-ms-input-placeholder { 
			color: #fff; 
		}
		&::placeholder { 
			color: #fff; 
		} 
		@media (max-width: 761px) {
			font-size: $sizeFont * 1.2;
		}
	}
	span {
		color: rgba(255, 255, 255, 0.4);
		font-size: $sizeFont * 1.4;
		line-height: $sizeFont * 1.6;
		@media (max-width: 761px) {
			font-size: $sizeFont * 1.2;
		}
	}
	@media (max-width: 991px) {
		width: unset;
	}

}

.catalog {
	// padding-top: 200px;
	.catalog__form__header {
		display: flex;
		justify-content: space-between;
		padding-bottom: 34px;
		label {
			display: inline-block;
			margin-right: 34px;
			cursor: pointer;
			font-size: $sizeFont * 1.4;
			&:hover {
				span {
					color: $mainTextColor;
					&:before {
						width: 31px;
						background-color: $mainTextColor;
					}
				}
			}
		}
		input[type="radio"] {
			visibility: hidden;
			width: 0px;
		}
		input[type="radio"]:checked + span {
			color: #fff;
			&:before {
				width: 31px;
				background-color: #fff;
			}
		}
		span {
			color: rgba(255, 255, 255, 0.3);
			position: relative;
			&:before {
				position: absolute;
				content: "";
				display: block;
				left: 0px; bottom: -6px;
				height: 2px;
				width: 0px;
				transition: 0.5s;
			}
		}
	}
	.catalog__burger {
		position: relative;
		width: 33px;
		height: 18px;

		cursor: pointer;
		span {
			position: absolute;
			display: block;
			top: 0px;
			left: 0px;
			right: 0px;
			height: 2px;
			background-color: #fff;
			border-radius: 40px;
			transition: 0.5s;
		}
		span:nth-child(1) {

		}
		span:nth-child(2) {
			margin: 0 10%;
			top: calc(50% - 1px);
		}
		span:nth-child(3) {
			margin: 0px 30%;
			top: unset;
			bottom: 0px;
		}
		&:hover {
			span {
				background-color: $mainTextColor;
			}
		}
	}
	.custom__checkbox_circle {
		cursor: pointer;
		display: flex;
		align-items: center;
		input[type="checkbox"] {
			opacity: 0;
			width: 0px;
		}
		.custom__checkbox_circle__input {
			display: inline-block;
			width: 14px;
			height: 14px;
			background-color: rgba(255, 255, 255, 0.5);
			border-radius: 100%;
			margin-right: 6px;
			transition: 0.5s;
			position: relative;
		}
		.custom__checkbox_circle__text {
			color: rgba(255, 255, 255, 0.5);
			text-transform: uppercase;
			transition: 0.5s;
		}
		input[type="checkbox"]:checked + .custom__checkbox_circle__input {
			width: 14px;
			height: 14px;
			background-color: #fff;	
			&:before {
				position: absolute;
				display: block;
				content: "";
				width: 5px;
				height: 5px;
				border-radius: 100%;
				left: 50%;
				top: 50%;
				background-color: #0d0b0b;
				transform: translate(-50%,-50%);
			}		
		}
		input[type="checkbox"]:checked + span + .custom__checkbox_circle__text {
			color: #fff;
		}
	}
	.custom__checkbox_btn {
		cursor: pointer;
		display: flex;
		align-items: center;
		margin-right: 28px;
		margin-bottom: 20px;
		&:last-child {
			margin-right: 0px;
		}
		input[type="checkbox"] {
			opacity: 0;
			width: 0px;
		}
		.custom__checkbox_btn__input {
			display: inline-block;
			width: 76px;
			height: 31px;
			background-color: rgba(255, 255, 255, 0.3);
			border-radius: 7px;
			transition: 0.5s;
			position: relative;

			display: flex;
			justify-content: center;
			align-items: center;

			color: rgba(255, 255, 255, 0.5);

			font-family: "SegoeUISemibold";
			font-size: $sizeFont * 1.4;
		}
		input[type="checkbox"]:checked + .custom__checkbox_btn__input {
			background-color: rgba(255, 255, 255, 1);
			color: $mainTextColor;
			&:before {
				position: absolute;
				display: block;
				content: "";
				width: 22px;
				height: 22px;
				border-radius: 100%;
				background-color: rgba(25, 25, 25, 0.83);
				right: -10%;
				top: -10%;
				background-image: url(../images/ok.svg);
				background-position: center center;
				background-repeat: no-repeat;
			}		
		}
		@media (max-width: 1200px) {
			margin-right: 12px;
		}
	}
}
.catalog__form__footer {
	display: flex;
	flex-wrap: wrap;
}

.catalog__form__body  {
	padding-bottom: 36px;
	flex-wrap: wrap;
}
.catalog__form__hid {
	padding-bottom: 47px;
}


.catalog__form__body__checked_right__header {
	& > span {
		text-transform: uppercase;
		font-size: $sizeFont * 1.4;
		color: rgba(255, 255, 255, 0.3);
	}
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding-bottom: 10px;
}
.input__select {
	width: 228px;
	height: 35px;
	border: 1px solid #fff;
	border-radius: 8px;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	button {
		font-size: $sizeFont * 1.2;
		color: rgba(255, 255, 255, 0.4);
		display: block;
		position: relative;
		text-align: right;
		width: 100%;
		height: 100%;
		&:hover {
			color: rgba(255, 255, 255, 0.4);
		}
		&:focus {
			outline: none;
		}
	}
	&:focus {
		outline: none;
	}
	.input__select__deep {
		display: none;
	}
	&.show {
		button {
			color: rgba(255, 255, 255, 1);
		}
		.input__select__deep {
			display: block;
		}
	}
	.dropdown-menu {
		max-height: 160px;
		background-color: #e1e1e1;
	}
	@media (max-width: 991px) {
		width: 100%;
	}
}

.mCSB_scrollTools .mCSB_draggerRail {
	background-color: #191919;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, 
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
	background-color: #b79b6c;
}
.mCS-rounded.mCSB_scrollTools .mCSB_buttonUp {
	background-image: url("../images/down_g.png");
	background-size: 10px;
	background-position: 0 0;
	width: 10px;
	height: 10px;
	transform: scale(1, -1);
}
.mCS-rounded.mCSB_scrollTools .mCSB_buttonDown {
	background-image: url("../images/down_g.png");
	background-size: 10px;
	background-position: 0 0;
	width: 10px;
	height: 10px;
	transform: scale(1, 1);
}
.mCSB_inside>.mCSB_container {
	margin-right: 0px;
	margin-left: 30px;
}
.mCSB_scrollTools {
	display: flex!important;
	flex-direction: column;
	align-items: center;
	left: 0px; right: auto;
}

.checkbox__custom {
	display: block;
	margin: 0px;
	padding: 5px 0;
	padding-right: 14px;
	color: #0d0b0b;
	input {
		display: none;
	}
	input:checked + span {
		&:before {
			background-image: url("../images/ok.svg");
		}
	}
	span {
		position: relative;
		display: block;
		width: 100%;
		&:before {
			position: absolute;
			background-size: 100%;
			background-repeat:  no-repeat;
			display: block;
			content: "";
			width: 20px;
			height: 20px;
			right: 0px;
			top: 0px;
		}
	}
}
.catalog__form__body__checked_right__result {
	display: flex;
	flex-wrap: wrap;
}
.catalog__form__body__checked_right__result__item {
	display: inline-block;
	position: relative;
	padding-right: 28px;
	font-size: $sizeFont * 1.2;
	color: rgba(255, 255, 255, 1);
	margin-right: 10px;
	&:before {
		position: absolute;
		content: "";
		display: block;
		background-image: url("../images/ok.svg");
		background-size: 100%;
		background-repeat:  no-repeat;
		width: 20px;
		height: 20px;
		right: 0px;
		top: 0px;
	}
	@media (max-width: 991px) {
		width: calc(50% - 10px);
	}
}
.input__number {
	min-width: 66px;
	max-width: 100px;
	font-size: $sizeFont * 1.8;
	color: #fff;

	display: flex;
	justify-content: space-between;

	text-transform: uppercase;

	input[type="number"] {
		display: none;
	}
	.input__number__in {
		cursor: pointer;

	}
	.input__number__in_plus {
		padding-left: 6px;
	}
	.input__number__in_minus {
		padding-right: 6px;
	}
		.input__number__in_plus {
			padding-left: 0px;
		}
		.input__number__in_minus {
			padding-right: 0px;
		}
}
.input__number_item {
	font-size: $sizeFont * 1.8;
	color: #fff;
	width: 66px;
	height: 33px;

	border: 1px solid #e1e1e1;

	display: flex;
	justify-content: space-between;
	align-items: center;

	text-transform: uppercase;

	input[type="number"] {
		display: none;
	}
	.input__number__span__cout {
		display: block;
		width: 50%;
		height: 100%;
		border-right: 1px solid #e1e1e1;
	}
	.input__number__in {
		cursor: pointer;

		display: flex;
		justify-content: center;
	}
	.input__number__in_plus {
		border--bottom: 1px solid #e1e1e1;
	}
	.input__number_item__arr {
		width: 50%;
		height: 100%;
	}
	.input__number__in_plus {
		img {
			transform: scale(1, -1);
		}
	}
	.input__number__span__cout {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.input__number__in_minus {

	}
	.input__number_item__arr_d {
		border-bottom: 1px solid #e1e1e1;
		height: 17px;
	}
}

.ui-menu-item-wrapper{
	&.ui-state-active {
		border: 0px;
		background: unset;
		font-weight: 400;
		color: #000;
		margin: 0px;
		position: relative;
		&:after {
			position: absolute;
			display: block;
			content: "";
			top: calc(50% - 10px);
			right: 8px;
			width: 20px;
			height: 16px;
			background-image: url("../images/ok.svg");
			background-size: 100%;
		}
	}
}
.input__radio__order {
	color: #fff;
	font-size: $sizeFont * 1.4;
	font-weight: 500;

	cursor: pointer;

	display: flex;
	align-items: center;
	input {
		display: none;
		&:checked + .input__radio__order__custom{
			border: 1px solid $mainTextColor;
			transition: 0.5s;
			&:before {
				opacity: 1;
			}
		}
	}
	.input__radio__order__custom {
		margin-right: 10px;
		display: block;
		width: 30px;
		height: 30px;
		background-color: #fff;
		border-radius: 100%;
		border: 1px solid #fff;
		transition: 0.5s;
		position: relative;
		&:before {
			position: absolute;
			display: block;
			content: "";
			width: 10px;
			height: 10px;
			background-color: $mainTextColor;
			left: calc(50% - 5px);
			top: calc(50% - 5px);
			border-radius: 100%;
			opacity: 0;
		}
	}
}
.q {
	text-transform: uppercase;
	font-size: $sizeFont * 1.4;
	color: rgba(255, 255, 255, 0.3);
}
.input_f_w {
	@media (max-width: 991px) {
		flex-direction: column;
		.input_f_w_p {
			padding-bottom: 10px;
			width: 100%;
		}
		#input__color, #input__size {
			width: 100%!important;
			max-width: 100%!important;
			.dd-select {
				width: 100%!important;
			}
			.dd-options {
				width: 100%!important;
			}
		}
	}
}