.about {
	padding-top: 155px;
	padding-bottom: 30px;
	h1 {
		padding: 30px 0 40px 0;
		color: #fff;
		font-size: $sizeFont * 3.6;
		text-transform: uppercase;
	}
	h2 {
		color: #fff;
		font-size: $sizeFont * 3.6;
		font-weight: bold;
		padding-right: 20px;
	}
	.about__header {
		display: flex;
		padding-bottom: 25px;
	}
	.about__item {
		padding-bottom: 30px;
		img {
			float: left;
			width: 50%;
			padding-right: 20px;
			@media (max-width: 991px) {
				width: 100%;
				float: unset;
				padding-bottom: 20px;
			}
		}
	}
	.about__description {
		color: #fff;
		font-size: $sizeFont * 1.6;
		line-height: 140%;
		margin: 0px;
		padding-bottom: 1.7rem;
		@media (max-width: 1200px) {
			font-size: $sizeFont * 1.4;
		}
		@media (max-width: 991px) {
			font-size: $sizeFont * 1.2;
		}
	}
	.about__services__item {
		display: flex;
		align-items: flex-start;
		padding-bottom: 40px;
		img {
			margin-top: 6px;
		}
		p {
			padding-left: 20px;
			padding-bottom: 0px;
			text-transform: uppercase;
			@media (max-width: 991px) {
				font-size: $sizeFont * 1.4;
			}
		}
		@media (max-width: 991px) {
			padding-bottom: 20px;
		}
	}
	@media (max-width: 991px) {
		padding-top: 80px;
	}
}
.about__contacts {
	h3 {
		color: $mainTextColor;
		font-size: $sizeFont * 2.4;
		padding-top: 32px;
		font-weight: bold;
		text-transform: uppercase;
		@media (max-width: 991px) {
			font-size: $sizeFont * 1.8;
			padding: 0px;
		}
	}
	.about__contacts__description {
		color: #fff;
		font-size: $sizeFont * 1.6;
		line-height: 140%;
		margin: 0px;
		padding-bottom: 1.7rem;
		&.about__contacts__description_adress {
			border-bottom: 1px solid #fff;
			@media (max-width: 991px) {
				margin-bottom: 1rem;
			}
		}
		@media (max-width: 991px) {
			font-size: $sizeFont * 1.4;
		}
	}
	.about__contacts__link {
		font-size: $sizeFont * 1.6;
		color: #fff;
		display: block;
		padding: 2px 0;
		&:hover {
			color: #fff;
			text-decoration: none;
		}
		@media (max-width: 991px) {
			font-size: $sizeFont * 1.4;
		}
	}
}
