.portfolio {
	h1 {
		color: #fff;
		font-size: $sizeFont * 3.6;
		text-transform: uppercase;
		padding: 24px 0 35px 0;
	}
	.portfolio__item {
		&.portfolio__item_big {
			&:hover {
				text-decoration: none;
			}
		}
	}
	.portfolio__header {
		padding-bottom: 42px;
		span {
			color: #fff;
			&:first-child {
				font-size: $sizeFont * 3.6;
				text-transform: uppercase;
				font-weight: bold;
				@media (max-width: 991px){
					font-size: $sizeFont * 2.8;
				}
				@media (max-width: 575.98px){
					font-size: $sizeFont * 2.2;
				}
			}
			&:last-child {
				padding-left: 13px;
				font-size: $sizeFont * 1.8;
				letter-spacing: 1px;
				text-transform: uppercase;
				@media (max-width: 991px){
					font-size: $sizeFont * 1.4;
				}
				@media (max-width: 575.98px){
					font-size: $sizeFont;
				}
			}
		}
	}
}