.breadcrumb {
	background: none;
	margin: 0px;
	padding: 0px;
	.breadcrumb-item {
		font-family: 'Montserrat', sans-serif;
		a {
			font-size: $sizeFont * 1.5;
			color: rgba(255, 255, 255, 0.7);
			&:hover {

			}
		}
		&.active {
			font-size: $sizeFont * 1.5;
			color: rgba(255, 255, 255, 0.7);
		}
		&+.breadcrumb-item {
			&::before {
				content: ">";
				font-size: $sizeFont * 1.6;
			}
		}
	}
}
