.partners {
	padding-top: 155px;
	padding-bottom: 30px;

	h1 {
		color: #fff;
		font-size: $sizeFont * 3.6;
		text-transform: uppercase;
		padding: 24px 0 35px 0;
		margin: 0px;
	}
	.partners__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		height: 100%;

		cursor: pointer;
		h2 {
			color: #fff;
			font-size: $sizeFont * 1.2;
			text-transform: uppercase;
			font-weight: 300;
			padding-bottom: 10px;
			margin: 0px;
		}
		p {
			color: rgba(255, 255, 255, 0.3);
			font-size: $sizeFont * 1.2;
			font-weight: 300;
			padding: 10px 20px;
			margin: 0px;
		}
		.partners__content {
			background-color: #303030;
			height: 100%;
		}
	}
	.modal-content {
		padding: 20px;
	    background-color: #262424;
	}

	#modalPartners {
		.close {
			padding: 0px;
			opacity: 1;
			margin: 0px;
			span {
				font-size: $sizeFont * 6!important;
				font-weight: 300;
			}
		}
		.modal__content__header {
			border-bottom: 1px solid #fff;
			padding-bottom: 10px;
			margin-bottom: 40px;
			span {
				&:first-child {
					display: block;
					color: #fff;
					font-size: $sizeFont * 2.4;
					padding-bottom: 4px;
					@media (max-width: 991px) {
						font-size: $sizeFont * 1.6;
					}
				}
				&:last-child {
					display: block;
					color: #fff;
					font-size: $sizeFont * 1.4;
					@media (max-width: 991px) {
						font-size: $sizeFont * 1.2;
					}
				}
			}
		}
		.modal__content__line {
			display: block;
			color: #fff;
			font-size: $sizeFont * 1.8;
			padding-bottom: 10px;
			font-weight: 300;
			text-transform: uppercase;
			@media (max-width: 991px) {
				font-size: $sizeFont * 1.4;
			}
		}
		.modal__content__description_more {
			color: #74889d;
			font-size: $sizeFont * 1.4;
			padding-bottom: 10px;
			font-weight: 600;
			line-height: 110%;
		}
		.modal__content__link {
			color: #fff;
			font-weight: 600;
			font-size: $sizeFont * 1.4;

			display: flex;
			text-align: center;

			margin-bottom: 10px;
			img {
				width: 20px;
				margin-right: 10px;
			}
			&:hover {
				text-decoration: none;
			}
		}
		.modal-content {
			background-color: #262424;
			padding: 20px 10px 10px 10px;
			position: relative;
			.modal-header {
				border: 0px;
				position: absolute;
			    z-index: 100;
			    padding: 0px;
			    right: 10px;
			    top: 0px;
				span {
					color: #fff;
					font-size: $sizeFont * 1.6;
					text-transform: uppercase;
					@media (max-width: 991px) {
						font-size: $sizeFont * 1.4;
					}
				}
			}
			.modal__left {
				width: 30%;
				padding-right: 10px;
				@media (max-width: 1200px) {
					width: 40%;
				}
				@media (max-width: 991px) {
					width: 100%;
				}
			}
			.modal__right {
				width: 70%;
				padding-left: 10px;
				@media (max-width: 1200px) {
					width: 60%;
					padding-left: 0px;
					padding-top: 10px;
				}
				@media (max-width: 991px) {
					width: 100%;
					padding-left: 0px;
					padding-top: 10px;
				}
				@media (max-width: 600px) {
					.modal__content__line_w {
						flex-direction: column;
						div {
							width: 100%!important;
						}
					}
				}
			}
			.modal__header {
				text-transform: uppercase;
				font-weight: 200;
				color: #fff;
				font-size: $sizeFont * 1.6;
				padding-bottom: 20px;
				display: block;
			}
			.modal__description {
				font-weight: 500;
				color: #fff;
				font-size: $sizeFont * 1.4;
				line-height: 140%;
			}
			.modal__line {
				display: flex;
				justify-content: space-between;

				color: #fff;
				font-size: $sizeFont * 1.4;

				padding: 10px 0;
				border-bottom: 1px solid #fff;
				span:last-child {
					width: 70%;
					text-align: right;
				}
				&:last-child {
					padding-bottom: 0px;
					border: 0px;
				}
			}
			.modal__price {
				display: block;
				text-align: right;
				padding-top: 20px;
				font-weight: 500;
				font-family: 'Poppins', sans-serif;
				color: #fff;
				font-size: $sizeFont * 2.4;
				line-height: 140%;
			}
			.slick-track {
				width: 10000px;
			}
			.slick-slide {
				padding: 0 10px;
				img {
				}
			}
			
		}
	}

	@media (max-width: 1200px) {
		padding-top: 114px;
	}
	@media (max-width: 991px) {
		padding-top: 80px;
	}
}
	
