.footer {
	padding: 30px 0;
	.footer__header {
		display: block;
		font-size: $sizeFont * 1.8;
		color: rgba(255, 255, 255, 0.7);
		font-family: 'Montserrat';
		padding-bottom: 8px;
		margin-bottom: 20px;
		text-transform: uppercase;
		position: relative;
		&:before {
			content: "";
			display: block;
			position: absolute;
			bottom: 0px;
			left: 0px;
			width: 46px;
			height: 2px;
			background-color: rgba(57, 57, 57, 1);
		}
	}
	.footer__line {
		max-width: 215px;
		display: flex;
		margin-bottom: 15px;
		&:last-child {
			margin: 0px;
		}
		@media (max-width: 575.98px) {
			max-width: unset;
			justify-content: space-between!important;
		}
	}
	.footer__link {
		color: rgba(255, 255, 255, 0.7);
		font-size: $sizeFont * 1.2;
		display: block;
		&.footer__link_edge_width {
			width: 86px;
		}
		&.footer__link_nav {
			margin-bottom: 6px;
		}
	}
	.footer__desired {
		background-color: rgba(204, 204, 204, 1);
		height: 100px;
		&.footer__desired_two {
			background-color: rgba(183, 155, 108, 1);
			padding: 10px 15px;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.footer__item__name {
		font-size: $sizeFont * 1.2;
		color: #fff;
		font-weight: 400;
		font-family: "ProximaNovaCondRegular";
		display: block;
	}
	.footer__item__price {
		font-size: $sizeFont * 1.4;
		color: #fff;
		font-weight: 600;
		display: block;
	}
	.footer__down {
		padding: 30px 0 0px 0;
		color: rgba(102, 102, 102, 1);
		font-size: $sizeFont * 1.2;
	}
	@media (max-width: 991px){
		padding: 30px 0 18px 0;
	}
	@media (max-width: 575.98px) {
		.footer__down__wrapper {
			flex-direction: column;
		}
		.footer__down__pay {
			width: 100%;
			justify-content: flex-start!important;
			padding-bottom: 10px;
		}
	}
}
