.order {
	padding-top: 155px;
	padding-bottom: 30px;

	h1 {
		padding: 30px 0 40px 0;
		color: #fff;
		font-size: $sizeFont * 3.6;
		text-transform: uppercase;
	}
	.order__header {
		color: #fff;
		font-size: $sizeFont * 1.8;
		text-transform: uppercase;

		padding-bottom: 12px;
		margin: 0px;
		border-bottom: 1px solid #fff;

		display: flex;
		align-items: center;
		&.order__header_no {
			border: 0px;
		}
	}




	@media (max-width: 1200px) {
		padding-top: 114px;
	}
	@media (max-width: 991px) {
		padding-top: 80px;
	}
	.order__done {
		background-color: rgba(255, 255, 255, 0.1);
		padding: 10px 18px 28px 18px;
	}
	.order__price {
		color: #fff;
		border-bottom: 1px solid #fff;
		font-size: $sizeFont * 3.6;
		display: block;
		text-align: right;
		font-family: 'Raleway', sans-serif;
		@media(max-width: 576px) {
			margin: 20px 0;
		}
	}
	.order__car, .order__sum {
		color: rgba(255, 255, 255, 0.31);
		font-size: $sizeFont * 1.4;
		display: block;
		padding: 4px 0 0 0; 
	}
	.order__sub {
		button {
			border: 0px;
			background: rgba(0, 0, 0, 1);

			font-size: $sizeFont * 1.8;
			color: rgba(255, 255, 255, 1);
			text-transform: uppercase;
			font-weight: bold;

			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			padding: 13px 0;
		}
		.order__sub__wr {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			@media (max-width: 991px) {
				display: flex;
				flex-direction: row;
				padding-top: 20px;
				.order__sub__wr_first {
					width: 50%;
				}
				.order__sub__wr_second {
					width: 50%;
				}
			}
			@media (max-width: 576px) {
				flex-direction: column;
				.order__sub__wr_first {
					width: 100%;
				}
				.order__sub__wr_second {
					width: 100%;
				}
			}
		}
	}
}