.catalog {
	padding-top: 30px;
}
.catalog__item__view {
	width: 100%;
	position: relative;
	overflow: hidden;
	.catalog__item__hot {
		position: absolute;
		right: 0px;
		top: 10%;
		background-color: rgba(25, 25, 25, 1);
		padding: 5px 10px;
		max-width: 32%;
		width: 100%;
		span {
			font-size: $sizeFont * 1.2;
			color: #fff;
			text-transform: uppercase;
			line-height: 14px;
		}
	}
	img {
		width: 100%;
	}
}
.catalog__item__info {
	padding: 6px 15px 8px 15px;
	background-color: rgba(255, 255, 255, 0.1);
}
.catalog__item__header {

	color: #fff;
	font-size: $sizeFont * 1.8;
	line-height: 24px;
	padding-bottom: 3px;
	display: block;
	font-weight: bold;
}
.catalog__item__price {
	font-family: 'Poppins', sans-serif;
	display: block;
	color: #fff;
	padding-bottom: 6px;
}
.catalog__item__footer {
	border-top: 1px solid rgba(112, 112, 112, 1);
	padding-top: 8px;

	display: flex;
	justify-content: space-between;
}
.catalog__item__footer__like {
	color: #fff;
	padding-right: 30px;
	position: relative;
	font-size: $sizeFont * 1.2;
	i {
		font-size: $sizeFont;
		padding-right: 10px;
	}
	&:before {
		position: absolute;
		display: block;
		content: "";
		width: 20px;
		height: 20px;
	}
}
.catalog__item__footer__comment {
	color: #fff;
	font-size: $sizeFont * 1.2;
	i {
		font-size: $sizeFont;
		padding-right: 10px;
	}
}
.catalog__item__footer__in_basket {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-size: $sizeFont * 1.2;
	line-height: 16px;
	background: none;
	border: 0px;
	color: #fff;
}
.catalog__content {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(3,1fr);
	grid-gap: 30px;
	padding: 25px 0 30px 0px;
	grid-template-areas:
		"first second third"
		"fourth fourth fifth"
		"sixth seventh eighth"
		"ninth seventh tenth";
	@media (max-width: 991px) {
		display: block;
		.catalog__item {
			padding-bottom: 30px;
		}
	}	
	.catalog__item {
	    display: flex;
	    flex-direction: column;
	    .catalog__item__info {
		flex: 0 1 0%;
	    }
		.catalog__item__view {
			max-height: 337px;
		}
		
		&:nth-child(1){
			grid-area: first;
		}
		&:nth-child(2){
			grid-area: second;
		}
		&:nth-child(3){
			grid-area: third;
		}
		&:nth-child(4) {
			grid-area: fourth;

		}
		&:nth-child(5) {
			grid-area: fifth;
		}
		&:nth-child(6) {
			grid-area: sixth;
		}
		&:nth-child(7) {
			grid-area: seventh;
			.catalog__item__view {
				max-height: 808px;
			}
		}
		&:nth-child(8) {
			grid-area: eighth;
		}
		&:nth-child(9) {
			grid-area: ninth;
		}
		&:nth-child(10) {
			grid-area: tenth;
		}
	}
	
}
.catalog__item {
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}
.catalog__form__body_second_search {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	input {
		background: none;
		border: 0px;
		border-bottom: 1px solid #fff;
		font-size: $sizeFont * 1.4;
		color: rgba(255, 255, 255, 0.3);
		padding: 10px 0 10px 30px;
		width: 260px;
		background-image: url("../images/search.svg");
		background-repeat: no-repeat;
		background-position: left center;
		&:focus {
			outline: none;
		}
		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration { display: none; }
	}
	span {
		padding-top: 10px;
		color: rgba(255, 255, 255, 0.7);
		font-size: $sizeFont * 1.4;
	}
}