extends base.pug
block content
	div(class="about")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li( class="breadcrumb-item")
								a(href="#")
									| ГЛАВНАЯ
							li( class="breadcrumb-item")
								a(href="#")
									| КАТАЛОГ
							li(class="breadcrumb-item active" aria-current="page")
								| СВЕТ
		div(class="container")
			div(class="row")
				div(class="col-12")
					h1()
						| О САЛОНЕ \ КОНТАТЫ
			div(class="row d-none d-md-flex")
				div(class="col-12")
					div(class="about__header")
						h2()
							| О салоне
						img(class="lazyload d-none d-lg-inline" class="logo" data-src="images/logo.png" alt="logo img")
			div(class="about__item")
				div(class="row")
					div(class="col-12 about__item__wr")
						img(class="img-fluid lazyload" data-src="images/about/Group_666.png" alt="img")
						div()
							p(class="about__description")
								| Мы предлагаем Вам погрузиться в мир красоты и гармонии, с любовью созданный для Вас специалистами нашего салона. На сайте Вы найдете исчерпывающую информацию об уникальном ассортименте продукции, представленной в салоне: это большой выбор обоев и прочих отделочных материалов, светильники, мебель, аксессуары, текстиль для дома и многое другое, необходимое для оформления интерьера на лучших условиях и по оптимальным ценам.
							p(class="about__description")
								| С октября 2009 года в салоне работает собственный пошивочный цех, мы занимаемся текстильным оформлением интерьеров и пошивом штор, предоставляем услуги дизайнера-декоратора.
							p(class="about__description")
								| Основным принципом работы салона является комплексный подбор интерьерных решений. К каждому заказу мы подходим индивидуально и предлагаем декораторские решения для любого пространства. Специалисты нашего салона помогут Вам сориентироваться в ассортименте представленной продукции, полностью подготовят для Вас варианты планировки, эскизы помещений, подборку необходимых материалов для создания интерьера.
							p(class="about__description")
								| Ассортимент салона регулярно пополняется, действуют подарочные сертификаты и сезонные скидки.
			div(class="about__services")
				div(class="row")
					div(class="col-12")
						h2()
							| Наши услуги
				div(class="row")
					each val, index in ["оформление подарков,<br>возможна доставка.", "розничная продажа отделочных материалов, мебели, света, аксессуаров;", "выезд дизайнера-декоратора, консультирование, подбор аксессуаров для создания стиля;", "подготовка вариантов планировки и эскизов помещений с подбором необходимых материалов для воплощения;", "дизайн и пошив штор, покрывал и прочих элементов текстильного оформления интерьера с выездом для замеров и монтажа по договоренности с клиентом;", "подбор всех необходимых материалов по заявке клиента или на основе представленного клиентом дизайн-проекта;"]
						div(class="col-12 col-md-6")
							div(class="about__services__item")
								img(class="lazyload" data-src="images/tick.svg" alt="img")
								p(class="about__description")
									= val
			div(class="about__contacts")
				div(class="row")
					div(class="col-12")
						h2()
							| Контакты
				div(class="row")
					div(class="col-12 col-md-7")
						iframe(src="https://yandex.ru/map-widget/v1/-/CKA5nD7g" width="100%" height="570" allowfullscreen="true")
					div(class="col-12 col-md-5 pt-4 pt-lg-0")
						p(class="about__contacts__description about__contacts__description_adress")
							| Наш адрес:<br>454091 г.Челябинск,<br>ул. Свободы, д.161
						h3()
							| Текстиль
						p(class="about__contacts__description ")
							| (ткани, постельное бельё, пошив штор)
							a(class="about__contacts__link" href='tel:83512200667')
								| Тел: 8 (351) 22-00-667
							a(class="about__contacts__link" href='mailto:artssofe@gmail.com')
								| e-mail: artssofe@gmail.com
						h3()
							| Светильники, аксессуары, мебель, ароматы для дома:
						p(class="about__contacts__description ")
							a(class="about__contacts__link" href='#')
								| Тел: 8 (351) 22-00-667 / 22-00-668
							a(class="about__contacts__link" href='#')
								| e-mail: artssofe@gmail.com / artssofe@mail.ru
						h3()
							| Отделочные материалы:
						p(class="about__contacts__description p-0")
							a(class="about__contacts__link" href='tel:83512200668')
								| Тел: 8 (351) 22-00-668
							a(class="about__contacts__link" href='mailto:artssofe@mail.ru')
								| e-mail: artssofe@mail.ru 


					
		