- var menuItems = ['Главная', 'Каталог', 'Корзина', 'Контакты'];
- var menuItemsDeep = ['Главная', 'Каталог', 'Корзина', 'Партнеры', 'Наши работы', 'О нас', 'Контакты'];

doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/main.min.css")

		<link rel="shortcut icon" href="images/favicon.png" type="image/png">

		link(href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic" rel="stylesheet")

		script( src="js/startFunction.min.js")
		title Project
	body
		div(id="preloader-cube")
			div(class="caption")
				div(class="cube-loader")
					div(class="cube loader-1")
					div(class="cube loader-2")
					div(class="cube loader-4")
					div(class="cube loader-3")
		div(class="page")
			header(class="header")
				div(class="container")
					div(class="row")
						div(class="col-12")
							nav(class="navigation")
								a(href="#" class="logo")
									img(class="lazyload img-fluid" data-src="images/logo.png" alt="logo")
								ul(class="d-none d-lg-flex")
									each val, index in menuItems
										li
											a(href="#") #{val}
								div(class="search")
									input(type="search")
									span
								
			header(class="navigation__burger")
				button(class="btn__menu btn__burger")
					span
					span
					span
			div(class="navigation__content")
				div(class="navigation__content_first")
				div(class="navigation__content_second")
				ul
					each elem, index in menuItemsDeep
						li
							a(href="#" class="link")
								= elem
			div(class="content")
				block content
		div(class="btn-to-top")
			div(class="btn-to-top__content d-flex justify-content-center align-items-center")
				svg(class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316")
					g(id="arrow-up" transform="translate(-1035.793 -4349.188)")
						g(id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)")
							path(id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)")
	script(src="js/main.min.js")

