extends base.pug
block content
	div(class="cart")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li( class="breadcrumb-item")
								a(href="#")
									| ГЛАВНАЯ
							li( class="breadcrumb-item")
								a(href="#")
									| КАТАЛОГ
							li(class="breadcrumb-item active" aria-current="page")
								| СВЕТ
			div(class="row")
				div(class="col-12")
					h1()
						| Ваш заказ
						img(class="lazyload" data-src="images/cartarrow.svg" alt="img")
			div(class="cart__wrapper pb-5")
				div(class="row")
					div(class="col-12")
						- for (var i = 0; i < 4; i++)
							div(class="cart__item" )
								div(class="cart__preview")
									img(class="lazyload" data-src="images/cart/Image.png" alt="img")
								div(class="cart__content")
									div(class="cart__item__header")
										h2(  data-toggle="modal" data-target="#modalItem")
											| Leifarne
										p()
											| ОДЕЯЛО ШЁЛКОВОЕ
										div(class="cart__price")
											span
												| 7280 руб
									div(class="cart__item__foter")
										div(class="cart__item__foter__left")
											div(class="input_f pr-3")
												form(class="input__number")
													span(class="input__number__in input__number__in_minus")
														| -
													input(type="number" class="input__number__cout" min="0" value="0")
													div()
														span(class="input__number__span__cout")
														| 
														span(class="pl-1")
															| шт
													span(class="input__number__in input__number__in_plus")
														| +
												div(class="text__color")
													| Цвет
													span
												div(class="text__size")
													| 195 x 215
												select(class="input__colorq d-none" name="filesA" id="filesA")
													option(value="colorRed" data-class="ui-icon-script")
														span
															| rf
														| красный
													option(value="colorGreen" data-class="ui-icon-image" data-style="background: red;")
														| зеленый
													option(value="colorBlue" data-class="ui-icon-image")
														| синий
												select(class="input__sizeq d-none" name="filesB" id="filesB")
													option(value="180x200")
														| 180 X 200
													option(value="195x215")
														| 195 x 215
													option(value="200x200")
														| 200 x 200
										div(class="cart__item__foter__right")
											button(class="cart__edit order-1  order-lg-2 order-xl-1")
												| Редактировать
											form(class="order-2  order-lg-1 order-xl-2")
												button(class="cart__delete ")
													| Удалить
													span(class="cart__delete__img")
														span
															| +
			div(class="cart__result")
				div(class="row")
					div(class="col-6 col-lg-2")
						span(class="cart__result_car")
							| Доставка
						span(class="cart__result_sum")
							| Итого
					div(class="col-6 col-lg-4 d-flex flex-column cart__result_c")
						span(class="cart__result_car")
							| БЕСПЛАТНО
						span(class="cart__result_sum")
							| 21840 руб
					div(class="col-12 col-lg-4 offset-2 pt-4 pt-lg-0")
						a(class="w-100 h-100" href="#")
							| оформить
		div(class="modal fade" id="modalItem" tabindex="-1" role="dialog" aria-labelledby="modalItemTitle" aria-hidden="true")
			div(class="modal-dialog modal-lg modal-dialog-centered" role="document")
				div(class="modal-content")
					
					div(class="modal-header d-flex justify-content-between")
						div( class="d-flex align-items-center")
							h2
								| Leifarne
							span(class="pl-3")
								| ОДЕЯЛО ШЁЛКОВОЕ
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true")
								| &times;
					div(class="modal-body")
						div(class="modal-body_w d-flex")
							div(class="modal__left")
								div(class="product__item__content")
									div(class="product__view" id="product__view__slider")
										a(data-fancybox="gallery" href="images/product/1.png")
											img(data-lazy="images/product/1.png" alt="img")
										a(data-fancybox="gallery" href="images/product/2.png")
											img(data-lazy="images/product/2.png" alt="img")
										a(data-fancybox="gallery" href="images/product/3.png")
											img(data-lazy="images/product/3.png" alt="img")
										a(data-fancybox="gallery" href="images/product/4.png")
											img(data-lazy="images/product/4.png" alt="img")
										a(data-fancybox="gallery" href="images/product/5.png")
											img(data-lazy="images/product/5.png" alt="img")
									div(class="product__view_more pt-3 pt-lg-4" id="product__view__input")
										img(class="img-fluid" data-lazy="images/product/1.png" alt="img")
										img(class="img-fluid" data-lazy="images/product/2.png" alt="img")
										img(class="img-fluid" data-lazy="images/product/3.png" alt="img")
										img(class="img-fluid" data-lazy="images/product/4.png" alt="img")
										img(class="img-fluid" data-lazy="images/product/5.png" alt="img")
							div(class="modal__right d-flex flex-column justify-content-between")
								div(class="pt-4 pt-lg-0")
									span(class="modal__header")
										| Описание
									p(class="modal__description")
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodr incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo nsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse lum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non roident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								div()
									span(class="modal__header")
										| Инфомрация о товаре
									div(class="modal__line")
										span
											| Размер
										span
											| 200х200
									div(class="modal__line")
										span
											| Материал
										span
											| лыдоварповы вдлалопр ыщвап ловыаппр
									div(class="modal__line")
										span
											| Особенности
										span
											| 200х200 лыдоварповы вдлалопр ыщвап ловыаппр
									span(class="modal__price")
										| 7280 руб.


