extends base.pug
block content
	div(class="welcome welcome_bg welcome_bg_catalog")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li( class="breadcrumb-item")
								a(href="#")
									| ГЛАВНАЯ
							li( class="breadcrumb-item")
								a(href="#")
									| КАТАЛОГ
							li(class="breadcrumb-item active" aria-current="page")
								| СВЕТ
			div(class="row welcome__cat")
				div(class="col-12 col-lg-6")
					h1(class="d-inline ")
						| Свет
					p
						| Освещение – фундаментальная составляющая любого интерьера. В нашем магазине представлен широкий ассортимент различных светильников, от встраиваемых спотов до эффектных люстр и от минималистичных бра до необычных торшеров, – для того чтобы в вашем интерьере всегда было светло
				div(class="col-12 col-lg-6")
					div(class="welcome__video")
						iframe(width="540px" height="340px" src="https://www.youtube.com/embed/cXTSIdYe4kE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
	div(class="catalog")
		div(class="container")
			div(class="row")
				div(class="col-12")
					form()
						div(class="catalog__form__header")
							div()
								label()
									input(type="radio" name="count" value="all")
									span
										| Все
								label()
									input(type="radio" name="count" value="stock")
									span
										| В наличии
								label()
									input(type="radio" name="count" value="order")
									span
										| Под заказ
							div(class="catalog__burger")
								span
								span
								span
						div(class="catalog__form__hid")
							div(class="catalog__form__body d-flex justify-content-between")
								label(class="custom__checkbox_circle")
									input(type="checkbox")
									span(class="custom__checkbox_circle__input")
									span(class="custom__checkbox_circle__text")
										| мебель
								label(class="custom__checkbox_circle")
									input(type="checkbox")
									span(class="custom__checkbox_circle__input")
									span(class="custom__checkbox_circle__text")
										| Аксессуары
								label(class="custom__checkbox_circle")
									input(type="checkbox")
									span(class="custom__checkbox_circle__input")
									span(class="custom__checkbox_circle__text")
										| Текстиль
								label(class="custom__checkbox_circle")
									input(type="checkbox")
									span(class="custom__checkbox_circle__input")
									span(class="custom__checkbox_circle__text")
										| Обои
								label(class="custom__checkbox_circle")
									input(type="checkbox")
									span(class="custom__checkbox_circle__input")
									span(class="custom__checkbox_circle__text")
										| Ароматы
								label(class="custom__checkbox_circle")
									input(type="checkbox")
									span(class="custom__checkbox_circle__input")
									span(class="custom__checkbox_circle__text")
										| Сантехника
								label(class="custom__checkbox_circle")
									input(type="checkbox")
									span(class="custom__checkbox_circle__input")
									span(class="custom__checkbox_circle__text")
										| Свет
								label(class="custom__checkbox_circle")
									input(type="checkbox")
									span(class="custom__checkbox_circle__input")
									span(class="custom__checkbox_circle__text")
										| Строительство
							div(class="catalog__form__body_second row")
								div(class="col-lg-8 d-none d-lg-flex")
									div(class="catalog__form__body_second_search")
										input(type="search" placeholder="Поиск по бренду")
										span()
											| Введите название бренда
									div(class="catalog__form__body_second_search ml-5")
										input(type="search" placeholder="Поиск по коллекции")
										span()
											| Введите название коллекции
								div(class="col-lg-4 catalog__form__body__checked_right")
									div(class="catalog__form__body__checked_right__header")
										span(class="d-none d-lg-inline")
											| Выбрано:
										div(class="input__select" )
											button(class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
												| ВЫБЕРЕТЕ СТИЛИ
											div(class="dropdown-menu")
												div(class="d-flex flex-column")
													label(class="checkbox__custom")
														input(type="checkbox")
														span
															| value
													label(class="checkbox__custom")
														input(type="checkbox")
														span
															| value
													label(class="checkbox__custom")
														input(type="checkbox")
														span
															| value
													label(class="checkbox__custom")
														input(type="checkbox")
														span
															| value
													label(class="checkbox__custom")
														input(type="checkbox")
														span
															| value
													label(class="checkbox__custom")
														input(type="checkbox")
														span
															| value
													label(class="checkbox__custom")
														input(type="checkbox")
														span
															| value
													label(class="checkbox__custom")
														input(type="checkbox")
														span
															| value
													label(class="checkbox__custom")
														input(type="checkbox")
														span
															| value
													label(class="checkbox__custom")
														input(type="checkbox")
														span
															| value
									div(class="d-flex d-lg-block")
										span(class="q d-block d-lg-none pr-4")
											| Выбрано:
										div(class="catalog__form__body__checked_right__result")
											div(class="catalog__form__body__checked_right__result__item")
												| value
											div(class="catalog__form__body__checked_right__result__item")
												| value
											div(class="catalog__form__body__checked_right__result__item")
												| value
											div(class="catalog__form__body__checked_right__result__item")
												| value
						div(class="d-none row")
							div(class="col-lg-12")
								div(class="catalog__form__footer d-flex")
									each val, index in ["Boyard", "Blum","ТБМ", "Hettich", "Braun", "Raumplus", "HAFELEЕ", "FENNEL", "INOXA", "Volpato"]
										label(class="custom__checkbox_btn")
											input(type="checkbox")
											span(class="custom__checkbox_btn__input")
												= val
								div(class="catalog__form__footer d-flex")
									each val, index in ["Cebi", "Starax","RENNER", "REHAU", "ALPI", "SIBU", "WEMATEC", "KAINDL", "GRASS", "SALICE"]
										label(class="custom__checkbox_btn")
											input(type="checkbox")
											span(class="custom__checkbox_btn__input")
												= val
					div(class="catalog__content")
						a(class="catalog__item" href="#")
							div(class="catalog__item__view")
								div(class="catalog__item__hot")
									span
										| Новинка
								img(class="lazyload" data-src="https://via.placeholder.com/350x337" alt="img")
							div(class="catalog__item__info")
								span(class="catalog__item__header")
									| Analogue Resin Strap
								span(class="catalog__item__price")
									| 7280 руб
								div(class="catalog__item__footer")
									div()
										span(class="catalog__item__footer__like")
											i(class="far fa-heart")
											span
												| 1250
										span(class="catalog__item__footer__comment")
											i(class="far fa-comment-alt")
											span
												| 1250
									button(class="catalog__item__footer__in_basket")
										| + в корзину
						a(class="catalog__item" href="#")
							div(class="catalog__item__view")
								div(class="catalog__item__hot")
									span
										| РАСПРОДАЖА
								img(class="lazyload" data-src="https://via.placeholder.com/350x337" alt="img")
							div(class="catalog__item__info")
								span(class="catalog__item__header")
									| Ridley High Waist
								span(class="catalog__item__price")
									| 7280 руб
								div(class="catalog__item__footer")
									div()
										span(class="catalog__item__footer__like")
											i(class="far fa-heart")
											span
												| 1250
										span(class="catalog__item__footer__comment")
											i(class="far fa-comment-alt")
											span
												| 1250
									button(class="catalog__item__footer__in_basket")
										| + в корзину
						a(class="catalog__item" href="#")
							div(class="catalog__item__view")
								img(class="lazyload" data-src="https://via.placeholder.com/350x337" alt="img")
							div(class="catalog__item__info")
								span(class="catalog__item__header")
									| Shell Top with Ruffle Front
								span(class="catalog__item__price")
									| 7280 руб
								div(class="catalog__item__footer")
									div()
										span(class="catalog__item__footer__like")
											i(class="far fa-heart")
											span
												| 1250
										span(class="catalog__item__footer__comment")
											i(class="far fa-comment-alt")
											span
												| 1250
									button(class="catalog__item__footer__in_basket")
										| + в корзину
						a(class="catalog__item" href="#")
							div(class="catalog__item__view")
								div(class="catalog__item__hot")
									span
										| новинка
								img(class="lazyload" data-src="https://via.placeholder.com/730x337" alt="img")
							div(class="catalog__item__info")
								span(class="catalog__item__header")
									| Analogue Resin Strap
								span(class="catalog__item__price")
									| 7280 руб
								div(class="catalog__item__footer")
									div()
										span(class="catalog__item__footer__like")
											i(class="far fa-heart")
											span
												| 1250
										span(class="catalog__item__footer__comment")
											i(class="far fa-comment-alt")
											span
												| 1250
									button(class="catalog__item__footer__in_basket")
										| + в корзину
						a(class="catalog__item" href="#")
							div(class="catalog__item__view")
								img(class="lazyload" data-src="https://via.placeholder.com/350x337" alt="img")
							div(class="catalog__item__info")
								span(class="catalog__item__header")
									| Shell Top with Ruffle Front
								span(class="catalog__item__price")
									| 7280 руб
								div(class="catalog__item__footer")
									div()
										span(class="catalog__item__footer__like")
											i(class="far fa-heart")
											span
												| 1250
										span(class="catalog__item__footer__comment")
											i(class="far fa-comment-alt")
											span
												| 1250
									button(class="catalog__item__footer__in_basket")
										| + в корзину
						a(class="catalog__item" href="#")
							div(class="catalog__item__view")
								img(class="lazyload" data-src="https://via.placeholder.com/350x337" alt="img")
							div(class="catalog__item__info")
								span(class="catalog__item__header")
									| Analogue Resin Strap
								span(class="catalog__item__price")
									| 7280 руб
								div(class="catalog__item__footer")
									div()
										span(class="catalog__item__footer__like")
											i(class="far fa-heart")
											span
												| 1250
										span(class="catalog__item__footer__comment")
											i(class="far fa-comment-alt")
											span
												| 1250
									button(class="catalog__item__footer__in_basket")
										| + в корзину
						a(class="catalog__item" href="#")
							div(class="catalog__item__view")
								img(class="lazyload" data-src="https://via.placeholder.com/350x808" alt="img")
							div(class="catalog__item__info")
								span(class="catalog__item__header")
									| Analogue Resin Strap
								span(class="catalog__item__price")
									| 7280 руб
								div(class="catalog__item__footer")
									div()
										span(class="catalog__item__footer__like")
											i(class="far fa-heart")
											span
												| 1250
										span(class="catalog__item__footer__comment")
											i(class="far fa-comment-alt")
											span
												| 1250
									button(class="catalog__item__footer__in_basket")
										| + в корзину
						a(class="catalog__item" href="#")
							div(class="catalog__item__view")
								img(class="lazyload" data-src="https://via.placeholder.com/350x337" alt="img")
							div(class="catalog__item__info")
								span(class="catalog__item__header")
									| Analogue Resin Strap
								span(class="catalog__item__price")
									| 7280 руб
								div(class="catalog__item__footer")
									div()
										span(class="catalog__item__footer__like")
											i(class="far fa-heart")
											span
												| 1250
										span(class="catalog__item__footer__comment")
											i(class="far fa-comment-alt")
											span
												| 1250
									button(class="catalog__item__footer__in_basket")
										| + в корзину
						a(class="catalog__item" href="#")
							div(class="catalog__item__view")
								img(class="lazyload" data-src="https://via.placeholder.com/350x337" alt="img")
							div(class="catalog__item__info")
								span(class="catalog__item__header")
									| Analogue Resin Strap
								span(class="catalog__item__price")
									| 7280 руб
								div(class="catalog__item__footer")
									div()
										span(class="catalog__item__footer__like")
											i(class="far fa-heart")
											span
												| 1250
										span(class="catalog__item__footer__comment")
											i(class="far fa-comment-alt")
											span
												| 1250
									button(class="catalog__item__footer__in_basket")
										| + в корзину
						a(class="catalog__item" href="#")
							div(class="catalog__item__view")
								img(class="lazyload" data-src="https://via.placeholder.com/350x337" alt="img")
							div(class="catalog__item__info")
								span(class="catalog__item__header")
									| Analogue Resin Strap
								span(class="catalog__item__price")
									| 7280 руб
								div(class="catalog__item__footer")
									div()
										span(class="catalog__item__footer__like")
											i(class="far fa-heart")
											span
												| 1250
										span(class="catalog__item__footer__comment")
											i(class="far fa-comment-alt")
											span
												| 1250
									button(class="catalog__item__footer__in_basket")
										| + в корзину	
					div(class="looked")
						div(class="row")
							div(class="col-12")
								div(class="")
									div()
										h2()
											| ВЫ НЕДАВНО СМОТРЕЛИ:
									div(class="looked__slick")
										a(class="catalog__item" href="#")
											div(class="catalog__item__view")
												img(class="lazyload" data-src="https://via.placeholder.com/350x337" alt="img")
											div(class="catalog__item__info")
												span(class="catalog__item__header")
													| Analogue Resin Strap
												span(class="catalog__item__price")
													| 7280 руб
												div(class="catalog__item__footer")
													div()
														span(class="catalog__item__footer__like")
															i(class="far fa-heart")
															span
																| 1250
														span(class="catalog__item__footer__comment")
															i(class="far fa-comment-alt")
															span
																| 1250
													button(class="catalog__item__footer__in_basket")
														| + в корзину
										a(class="catalog__item" href="#")
											div(class="catalog__item__view")
												img(class="lazyload" data-src="https://via.placeholder.com/350x337" alt="img")
											div(class="catalog__item__info")
												span(class="catalog__item__header")
													| Analogue Resin Strap
												span(class="catalog__item__price")
													| 7280 руб
												div(class="catalog__item__footer")
													div()
														span(class="catalog__item__footer__like")
															i(class="far fa-heart")
															span
																| 1250
														span(class="catalog__item__footer__comment")
															i(class="far fa-comment-alt")
															span
																| 1250
													button(class="catalog__item__footer__in_basket")
														| + в корзину
										a(class="catalog__item" href="#")
											div(class="catalog__item__view")
												img(class="lazyload" data-src="https://via.placeholder.com/350x337" alt="img")
											div(class="catalog__item__info")
												span(class="catalog__item__header")
													| Analogue Resin Strap
												span(class="catalog__item__price")
													| 7280 руб
												div(class="catalog__item__footer")
													div()
														span(class="catalog__item__footer__like")
															i(class="far fa-heart")
															span
																| 1250
														span(class="catalog__item__footer__comment")
															i(class="far fa-comment-alt")
															span
																| 1250
													button(class="catalog__item__footer__in_basket")
														| + в корзину
										a(class="catalog__item" href="#")
											div(class="catalog__item__view")
												img(class="lazyload" data-src="https://via.placeholder.com/350x337" alt="img")
											div(class="catalog__item__info")
												span(class="catalog__item__header")
													| Analogue Resin Strap
												span(class="catalog__item__price")
													| 7280 руб
												div(class="catalog__item__footer")
													div()
														span(class="catalog__item__footer__like")
															i(class="far fa-heart")
															span
																| 1250
														span(class="catalog__item__footer__comment")
															i(class="far fa-comment-alt")
															span
																| 1250
													button(class="catalog__item__footer__in_basket")
														| + в корзину
										a(class="catalog__item" href="#")
											div(class="catalog__item__view")
												img(class="lazyload" data-src="https://via.placeholder.com/350x337" alt="img")
											div(class="catalog__item__info")
												span(class="catalog__item__header")
													| Analogue Resin Strap
												span(class="catalog__item__price")
													| 7280 руб
												div(class="catalog__item__footer")
													div()
														span(class="catalog__item__footer__like")
															i(class="far fa-heart")
															span
																| 1250
														span(class="catalog__item__footer__comment")
															i(class="far fa-comment-alt")
															span
																| 1250
													button(class="catalog__item__footer__in_basket")
														| + в корзину
			div(class="slick__wrap__category")
				div(class="row")
					div(class="col-12")
						div(class="slick__category")
							each val, index  in category = [ { title: "Мебель", description: "Обстановка помогает человеку комфортнее себя чувствовать и" },{ title: "Текстиль", description: "Текстиль способен на настоящие чудеса: с его помощью можно" },{ title: "Свет", description: "Освещение – фундаментальная составляющая любого интерьера." },{ title: "Обои", description: "При создании эксклюзивного интерьера не обойтись без" }, { title: "Обои", description: "При создании эксклюзивного интерьера не обойтись без" } ]
								a( class="slick__category__item" href="#")
									span(class="slick__category__title")
										= val.title
									p(class="slick__category__description")
										= val.description
									span(class="slick__category__dots")
										| ...