extends basemain.pug
block content
	div(class="welcome d-flex align-items-center justify-content-center welcome_bg")
		div(class="container")
			div(class="row")
				div(class="col-12 d-lg-none pb-2 pb-md-5 d-flex justify-content-between align-items-start")
					span(class="h1")
						| Стиль, который вызывает эмоции
					a(href="#" class="btn")
						| перейти в каталог
				div(class="col-12 col-md-5")
					img(class="lazyload d-none d-lg-inline" class="logo" data-src="images/logo.png" alt="logo img")
					h1(class=" d-none d-lg-inline")
						| стиль, который вызывает эмоции
					p
						| Мы создаем вещи, подчеркивающие статус наших клиентов. Мы переосмысляем моду, превращая интерьер в искусство.
					form(class="subscribe d-none d-sm-block")
						div(class="subscribe__wrap")
							button(class="btn__subscribe" type="submit")
							input(type="email" placeholder="hello@email.com")
						span
							| будь в курсе новых поступлений!
				div(class="col-12 col-md-7 col-lg-6 offset-lg-1")
					div(class="welcome__video")
						iframe(width="540px" height="340px" src="https://www.youtube.com/embed/cXTSIdYe4kE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
					form(class="subscribe d-sm-none")
						div(class="subscribe__wrap")
							button(class="btn__subscribe" type="submit")
							input(type="email" placeholder="hello@email.com")
						span
							| будь в курсе новых поступлений!
			div(class="slick__wrap__category")
				div(class="row")
					div(class="col-12")
						div(class="slick__category")
							each val, index  in category = [ { title: "Мебель", description: "Обстановка помогает человеку комфортнее себя чувствовать и" },{ title: "Текстиль", description: "Текстиль способен на настоящие чудеса: с его помощью можно" },{ title: "Свет", description: "Освещение – фундаментальная составляющая любого интерьера." },{ title: "Обои", description: "При создании эксклюзивного интерьера не обойтись без" }, { title: "Обои", description: "При создании эксклюзивного интерьера не обойтись без" } ]
								a( class="slick__category__item" href="#")
									span(class="slick__category__title")
										= val.title
									p(class="slick__category__description")
										= val.description
									span(class="slick__category__dots")
										| ...
					
		