extends base.pug
block content
	div(class="order")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li( class="breadcrumb-item")
								a(href="#")
									| ГЛАВНАЯ
							li( class="breadcrumb-item")
								a(href="#")
									| КАТАЛОГ
							li(class="breadcrumb-item active" aria-current="page")
								| СВЕТ
			div(class="row")
				div(class="col-12")
					h1()
						| Оформление заказа
			div(class="row")
				div(class="col-12")
					form()
						h2(class="order__header mb-3 mb-md-0")
							img(class="lazyload pr-3" data-src="images/order/001-placeholder-filled-point.svg" alt="img")
							| Адрес
						div(class="row pt-md-4")
							div(class="col-12 col-md-6 col-lg-4 pb-3 pb-md-0")
								label(class="form__input")
									| Город
									input(type="text" placeholder="г. Москва")
							div(class="col-12 col-md-6 col-lg-4 pb-3 pb-md-0")
								label(class="form__input")
									| Адрес доставки
									input(type="text" placeholder="Тверская улица, дом 13")
						div(class="row pt-md-4")
							div(class="col-12 col-md-6 col-lg-4  pb-3 pb-md-0")
								label(class="form__input")
									| ФИО:
									input(type="text" placeholder="Иван Иванов Иванович")
							div(class="col-12 col-md-6 col-lg-4")
								label(class="form__input")
									| Телефон:
									input(type="text" placeholder="+7 800 123 45 67")
						div(class="row pt-5")
							div(class="col-12 col-md-6 col-lg-5")
								h2(class="order__header")
									img(class="lazyload pr-3" data-src="images/order/002-box.svg" alt="img")
									| Способ доставки
								div(class="d-flex pt-3")
									label(class="input__radio__order")
										input(type="radio" name="dostavka" value="" checked)
										span(class="input__radio__order__custom")
										| Самовывоз
									label(class="input__radio__order pl-4")
										input(type="radio" name="dostavka" value="")
										span(class="input__radio__order__custom")
										| Доставка по городу
							div(class="col-12 col-md-6 col-lg-5 pt-3 pt-md-0")
								h2(class="order__header")
									img(class="lazyload pr-3" data-src="images/order/003-credit-cards.svg" alt="img")
									| Форма оплаты
								div(class="d-flex pt-3")
									label(class="input__radio__order")
										input(type="radio" name="oplata" value="" checked)
										span(class="input__radio__order__custom")
										| Наличными при получении
			div(class="row pt-5")
				div(class="col-12")
					h2(class="order__header order__header_no")
						img(class="lazyload pr-3" data-src="images/order/icon.svg" alt="img")
						| Подтверждение
					div(class="order__done")
						div(class="row")
							div(class="col-12 col-md-12 col-lg-8 ")
								div(class="row pt-md-4")
									div(class="col-12 col-md-6 pb-3 pb-md-0")
										label(class="form__input form__input_done" )
											| Город
											input(type="text" placeholder="г. Москва" disabled)
									div(class="col-12 col-md-6 pb-3 pb-md-0")
										label(class="form__input form__input_done" )
											| Адрес доставки
											input(type="text" placeholder="Тверская улица, дом 13" disabled)
								div(class="row pt-md-4")
									div(class="col-12 col-md-6  pb-3 pb-md-0")
										label(class="form__input form__input_done" )
											| ФИО:
											input(type="text" placeholder="Иван Иванов Иванович" disabled)
									div(class="col-12 col-md-6")
										label(class="form__input form__input_done" )
											| Телефон:
											input(type="text" placeholder="+7 800 123 45 67" disabled)
							div(class="col-12 col-md-12 col-lg-4 pt-2 pt-lg-0")
								div(class="order__sub h-100 d-flex flex-column")
									div(class="d-none d-sm-block")
										span(class="order__price")
											| 7280 руб
									div(class="order__sub__wr")
										div( class="order__sub__wr_first")
											span(class="order__car")
												| 280 руб - доставка
											span(class="order__sum")
												| 7000 руб - сумма заказа
										div(class="d-block d-sm-none")
											span(class="order__price")
												| 7280 руб
										button(class="order__sub__wr_second")
											| Заказать
