extends base.pug
block content
	- var partnersName = ['Тарасенко Денис Вальерьевич (дизайнер)', 'Студия дизайна «дэко-тренд дв»', 'Бучнева Наталья Михайловна (дизайнер)', 'Ирина Герасимова и ЕКатерина Романова'];
	- var partnersDescription = ['Лауреат премии в области архитектуры и дизайна «Белая жемчужина 2015». Практикует с 2011 года.', 'Разработка дизайна интерьеров квартир, офисов, общественных помещений любой сложности.', 'Дизайн интерьера квартир, домов (жилой и коммерческой недвижимости)', 'руководители студии архитектуры и дизайна «GEOSpace».'];

	div(class="partners")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li( class="breadcrumb-item")
								a(href="#")
									| ГЛАВНАЯ
							li( class="breadcrumb-item")
								a(href="#")
									| КАТАЛОГ
							li(class="breadcrumb-item active" aria-current="page")
								| СВЕТ
			div(class="row")
				div(class="col-12")
					h1()
						| Партнеры
			div(class="row")
				each val, index in partnersName
					div(class="col-12 col-md-6 col-lg-4 pb-4 d-flex flex-column justify-content-between")
						div(class="partners__item" data-toggle="modal" data-target="#modalPartners")
							h2
								= val
							div(class="partners__content")
								img(class="lazyload w-100" data-src="images/looked2.png" alt="img")
								p
									= partnersDescription[index]
		div(class="modal fade" id="modalPartners" tabindex="-1" role="dialog" aria-labelledby="modalPartnersTitle" aria-hidden="true")
			div(class="modal-dialog modal-lg modal-dialog-centered" role="document")
				div(class="modal-content")
					
					div(class="modal-header ")
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
								span(aria-hidden="true")
									| &times;
					div(class="modal-body")
						div(class="modal-body_w d-flex")
							div(class="modal__left")
								img(class="lazyload w-100" data-src="images/looked3.png" alt="img")
							div(class="modal__right")
								div(class="modal__content__header")
									span
										| Тарасенко Денис Валерьевич
									span
										| Дизайнер
								div(class="modal__content__description")
									span(class="modal__content__line")
										| ОБРАЗОВАНИЕ:
									p(class="modal__content__description_more")
										| Южно-Уральский профессиональный институт, специальность «Дизайн». Лауреат премии в области архитектуры и дизайна «Белая жемчужина 2015». Практикую с 2011 года
									span(class="modal__content__line")
										| Контакты:
									div(class="d-flex modal__content__line_w")
										div(class="w-50")
											a(class="modal__content__link" href="tel:89193253039")
												img(class="lazyload" data-src="images/phone.svg" alt="img")
												| 8-919-325-30-39
											a(class="modal__content__link" href="vk.com/id23285309")
												img(class="lazyload" data-src="images/vk.svg" alt="img")
												| vk.com/id23285309
										div(class="w-50")
											a(class="modal__content__link" href="#")
												img(class="lazyload" data-src="images/skype.svg" alt="img")
												| denistar_87
											a(class="modal__content__link" href="mailto:denistart_@list.ru")
												img(class="lazyload" data-src="images/mail.svg" alt="img")
												| denistart_@list.ru

