extends base.pug
block content
	div(class="welcome")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li( class="breadcrumb-item")
								a(href="#")
									| ГЛАВНАЯ
							li( class="breadcrumb-item")
								a(href="#")
									| КАТАЛОГ
							li(class="breadcrumb-item active" aria-current="page")
								| СВЕТ
	div(class="portfolio")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h1()
						| наши работы
			div(class="row")
				div(class="col-12 col-md-6 pb-5")
					a(class="portfolio__item portfolio__item_big" href="#")
						div(class="portfolio__header")
							span()
								| квартира
							span()
								| в челябинске
						div(class="portfolio__preview")
							img(class="w-100 lazyload" data-src="images/portfolio/z4.png" alt="img")
				div(class="col-12 col-md-6 pb-5")
					a(class="portfolio__item portfolio__item_big" href="#")
						div(class="portfolio__header")
							span()
								| квартира
							span()
								| в челябинске
						div(class="portfolio__preview")
							img(class="w-100 lazyload" data-src="images/portfolio/s1.png" alt="img")

		