extends base.pug
block content
	div(class="welcome")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li( class="breadcrumb-item")
								a(href="#")
									| ГЛАВНАЯ
							li( class="breadcrumb-item")
								a(href="#")
									| КАТАЛОГ
							li(class="breadcrumb-item active" aria-current="page")
								| СВЕТ
	div(class="portfolio")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h1(class="portfolio__header")
						span()
							| квартира
						span()
							| в челябинске
			div(class="row")
				div(class="col-6 col-md-4 pb-5")
					div(class="portfolio__item portfolio__item_big")
						a(data-fancybox="gallery" href="images/portfolio/g1.png")
							img(class="w-100 lazyload" data-src="images/portfolio/g1.png" alt="img")
				div(class="col-6 col-md-4 pb-5")
					div(class="portfolio__item portfolio__item_big")
						a(data-fancybox="gallery" href="images/portfolio/g2.png")
							img(class="w-100 lazyload" data-src="images/portfolio/g2.png" alt="img")
				div(class="col-6 col-md-4 pb-5")
					div(class="portfolio__item portfolio__item_big")
						a(data-fancybox="gallery" href="images/portfolio/g3.png")
							img(class="w-100 lazyload" data-src="images/portfolio/g3.png" alt="img")
				div(class="col-6 col-md-4 pb-5")
					div(class="portfolio__item portfolio__item_big")
						a(data-fancybox="gallery" href="images/portfolio/p1.png")
							img(class="w-100 lazyload" data-src="images/portfolio/p1.png" alt="img")
				div(class="col-6 col-md-4 pb-5")
					div(class="portfolio__item portfolio__item_big")
						a(data-fancybox="gallery" href="images/portfolio/s1.png")
							img(class="w-100 lazyload" data-src="images/portfolio/s1.png" alt="img")
				div(class="col-6 col-md-4 pb-5")
					div(class="portfolio__item portfolio__item_big")
						a(data-fancybox="gallery" href="images/portfolio/s2.png")
							img(class="w-100 lazyload" data-src="images/portfolio/s2.png" alt="img")
				div(class="col-6 col-md-4 pb-5")
					div(class="portfolio__item portfolio__item_big")
						a(data-fancybox="gallery" href="images/portfolio/s3.png")
							img(class="w-100 lazyload" data-src="images/portfolio/s3.png" alt="img")
				div(class="col-6 col-md-4 pb-5")
					div(class="portfolio__item portfolio__item_big")
						a(data-fancybox="gallery" href="images/portfolio/z.png")
							img(class="w-100 lazyload" data-src="images/portfolio/z.png" alt="img")
				div(class="col-6 col-md-4 pb-5")
					div(class="portfolio__item portfolio__item_big")
						a(data-fancybox="gallery" href="images/portfolio/z2.png")
							img(class="w-100 lazyload" data-src="images/portfolio/z2.png" alt="img")

		