extends base.pug
block content
	div(class="product")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="product__item")
						div(class="product__item__content")
							div(class="product__content__first product__content__header")
								h1
									| Leifarne
								div(class="product__top")
									div(class="product__top__result")
									a(class="product__top__review" href="#")
										| 3 отзыва
									a(class="product__top__add" href="#")
										| Добавить обзор
								div(class="product__price")
									span
										| 7280 руб
						div(class="product__item__content")
							div(class="product__view" id="product__view__slider")
								a(data-fancybox="gallery" href="images/product/1.png")
									img(data-lazy="images/product/1.png" alt="img")
								a(data-fancybox="gallery" href="images/product/2.png")
									img(data-lazy="images/product/2.png" alt="img")
								a(data-fancybox="gallery" href="images/product/3.png")
									img(data-lazy="images/product/3.png" alt="img")
								a(data-fancybox="gallery" href="images/product/4.png")
									img(data-lazy="images/product/4.png" alt="img")
								a(data-fancybox="gallery" href="images/product/5.png")
									img(data-lazy="images/product/5.png" alt="img")
							div(class="product__view_more pt-3 pt-lg-4" id="product__view__input")
								img(class="img-fluid" data-lazy="images/product/1.png" alt="img")
								img(class="img-fluid" data-lazy="images/product/2.png" alt="img")
								img(class="img-fluid" data-lazy="images/product/3.png" alt="img")
								img(class="img-fluid" data-lazy="images/product/4.png" alt="img")
								img(class="img-fluid" data-lazy="images/product/5.png" alt="img")
						div(class="product__item__content pt-4")
							div(class="product__more")
								span
									| Наличие : на складе
							div(class="product__more")
								span
									| Артикул : #2343
							div(class="product__more")
								span
									| Теги : Сатин, Постельное Бельё
						div(class="product__item__content")
							div()
								p(class="product__description")
									| Природа ещё не создавала столь уникального волокна, каковым является шёлк! Побалуйте себя по-настоящему шикарными одеялами, достойными императорской постели!
								ul()
									li()
										| 200х220 см
									li()
										| Жаккардовый люкс-сатин
									li()
										| 100% Шёлк
									li()
										| Бесплатная доставка
						div(class="product__item__content d-flex flex-column")
							div(class="input_f pb-4 input_f_w")
								div(class="input_f_w_p")
									span(class="input_f__header")
										| Цвет
									select(class="input__color" name="filesA" id="input__color")
										option(value="0" data-imagesrc="images/color/red.png")
											| красный
										option(value="1" data-imagesrc="images/color/green.png" )
											| зеленый
										option(value="2" data-imagesrc="images/color/blue.png")
											| синий
								div(class="input_f_w_p")
									span(class="input_f__header")
										| Размер
									select(class="input__size" id="input__size" name="filesB")
										option(value="180x200")
											| 180 X 200
										option(value="195x215")
											| 195 x 215
										option(value="200x200")
											| 200 x 200
								div(class="input_f_w_p")
									span(class="input_f__header")
										| Кол-во
									form(class="input__number_item")
										input(type="number" class="input__number__cout" min="0" value="0")
										div(class="input__number__span__cout")
											| 0
										div(class="input__number_item__arr d-flex flex-column")
											div(class="input__number_item__arr_d")
												span(class="input__number__in input__number__in_plus")
													img(class="lazyload" data-src="images/down.png" alt="img")
											div()
												span(class="input__number__in input__number__in_minus")
													img(class="lazyload" data-src="images/down.png" alt="img")
							a(class="product__clear" href="#")
								| очистить выбор
							div(class="d-flex justify-content-between pt-3")
								a(href="#" class="product__link__basket")
									| В корзину
								a(href="#" class="product__link__add")
									| Добавить в желаемое
						div(class="product__item__content" data-description="заглушка")