.cart {
	padding-top: 155px;
	padding-bottom: 30px;
	h1 {
		padding: 30px 0 40px 0;
		color: #fff;
		font-size: $sizeFont * 3.6;
		text-transform: uppercase;

		display: flex;
		img {
			padding-left: 37px;
		}
		@media (max-width: 991px) {
			font-size: $sizeFont * 3;
		}
	}
	
	.cart__item {
		background-color: rgba(255, 255, 255, 0.1);
		padding: 13px;

		display: flex;
		margin-bottom: 20px;
		&:last-child {
			margin: 0px;
		}
		@media (max-width: 991px) {
			flex-direction: column;
		}
	}
	.cart__preview {
		width: 30%;
		padding-right: 10px;
		img {
			width: 100%;
		}
		@media (max-width: 991px) {
			width: 100%;
			padding: 0px;
			padding-bottom: 10px;
		}
	}
	.cart__item__header {
		@media (max-width: 991px) {
			padding-top: 44px;
		}
	}
	.cart__content {
		width: 70%;
		padding-left: 10px;
		position: relative;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		h2 {
			color: #fff;
			font-size: $sizeFont * 3.6;
			background: none;
			cursor: pointer;
			@media (max-width: 991px) {
				font-size: $sizeFont * 2.8;
			}
		}
		p {
			color: #B2B2B2;
			font-size: $sizeFont * 1.6;
			text-transform: uppercase;
			@media (max-width: 991px) {
				font-size: $sizeFont * 1.4;
			}
		}
		@media (max-width: 991px) {
			width: 100%;
			padding-left: 0px;
		}
	}
	.cart__price {
		font-size: $sizeFont * 1.9;
		color: #fff;
		font-weight: 600;
		font-family: Poppins,sans-serif;

		position: absolute;
		right: 0px; top: 0px;
		@media (max-width: 991px) {
			right: unset;
			left: 0px;
		}
	}
	.cart__item__foter {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 991px) {
			flex-direction: column;
		}
	}
	.cart__item__foter__left {
		width: 50%;
		@media (max-width: 991px) {
			width: 100%;
		}
	}
	.cart__item__foter__right {
		width: 50%;
		display: flex;
		justify-content: space-between;
		align-content: center;

		.cart__edit {
			text-transform: uppercase;
			border: 0px;
			padding: 0px;
			background: none;

			color: rgba(255, 255, 255, 0.3);
			font-size: $sizeFont * 1.8;
			transition: 0.5s;
			&:hover {
				color: #fff;
				transition: 0.5s;
			}
		}
		.cart__delete {
			text-transform: uppercase;
			border: 0px;
			padding: 0px;
			background: none;

			color: rgba(255, 255, 255, 0.3);
			font-size: $sizeFont * 1.8;
			transition: 0.5s;
			padding-right: 13px;

			display: block;
			justify-content: space-between;
			align-items: center;
			.cart__delete__img {
				display: inline-block;
				font-size: $sizeFont * 4;
				width: 16px;
				height: 16px;
				position: relative;
				span {
					line-height: 0%;
					position: absolute;
					top: 50%;
					left: 50%;
					display: inline-block;
					transform: rotate(45deg) ;
				}
			}
			&:hover {
				color: #514a3e;
				transition: 0.5s;
			}
		}
		@media (max-width: 1200px){
			flex-direction: column;
			align-items: flex-end;
		}
		@media (max-width: 991px) {
			width: 100%;
			padding-top: 20px;

			flex-direction: row;
		}
	}
	.cart__result {
		padding: 16px 0px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		
		.cart__result_car {
			font-size: $sizeFont * 1.8;
			color: rgba(255, 255, 255, 0.3);
			text-transform: uppercase;
			padding-bottom: 14px;
			display: block;
			font-weight: bold;
			letter-spacing: 3px;
		}
		.cart__result_sum {
			font-size: $sizeFont * 1.8;
			color: rgba(255, 255, 255, 1);
			text-transform: uppercase;
			display: block;
			font-weight: bold;
			letter-spacing: 3px;
		}
		a {
			border: 0px;
			background: rgba(0, 0, 0, 1);

			font-size: $sizeFont * 1.8;
			color: rgba(255, 255, 255, 1);
			text-transform: uppercase;
			font-weight: bold;

			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			&:hover {
				text-decoration: none;
			}
		}
		.cart__result_c {
			align-items:center;
			@media (max-width:  991px) {
				align-items: flex-start;
			}
		}
	}
	@media (max-width: 1200px) {
		padding-top: 114px;
	}
	@media (max-width: 991px) {
		padding-top: 80px;
	}
}


#modalItem {
	.close {
		padding: 0px;
		span {
			font-size: $sizeFont * 6!important;
			font-weight: 300;
		}
	}
	.modal-content {
		background-color: #262424;
		padding: 10px;
		.modal-header {
			border: 0px;
			h2 {
				color: #fff;
				font-size: $sizeFont * 3.6;
				background: none;
				cursor: pointer;
				@media (max-width: 991px) {
					font-size: $sizeFont * 2.8;
				}
			}
			span {
				color: #fff;
				font-size: $sizeFont * 1.6;
				text-transform: uppercase;
				@media (max-width: 991px) {
					font-size: $sizeFont * 1.4;
				}
			}
		}
		.modal__left {
			width: 60%;
			padding-right: 10px;
			@media (max-width: 1200px) {
				width: 50%;
			}
			@media (max-width: 991px) {
				width: 100%;
			}
		}
		.modal__right {
			width: 40%;
			padding-left: 10px;
			@media (max-width: 1200px) {
				width: 50%;
			}
			@media (max-width: 991px) {
				width: 100%;
			}
		}
		.modal__header {
			text-transform: uppercase;
			font-weight: 200;
			color: #fff;
			font-size: $sizeFont * 1.6;
			padding-bottom: 20px;
			display: block;
		}
		.modal__description {
			font-weight: 500;
			color: #fff;
			font-size: $sizeFont * 1.4;
			line-height: 140%;
		}
		.modal__line {
			display: flex;
			justify-content: space-between;

			color: #fff;
			font-size: $sizeFont * 1.4;

			padding: 10px 0;
			border-bottom: 1px solid #fff;
			span:last-child {
				width: 70%;
				text-align: right;
			}
			&:last-child {
				padding-bottom: 0px;
				border: 0px;
			}
		}
		.modal__price {
			display: block;
			text-align: right;
			padding-top: 20px;
			font-weight: 500;
			font-family: 'Poppins', sans-serif;
			color: #fff;
			font-size: $sizeFont * 2.4;
			line-height: 140%;
		}
		.slick-track {
			width: 10000px;
		}
		.slick-slide {
			padding: 0 10px;
			img {
			}
		}
		
	}
}
.modal-body_w {
	@media (max-width: 991px) {
		flex-direction: column;
	}
}
.input_f {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.input__color {
		width: 10px;
	}
	.input__size {
		width: 300px;
	}
	.input_f__header {
		color: #fff;
		font-weight: bold;
		font-size: $sizeFont * 1.6;
		display: block;
		padding-bottom: 10px;
	}
}




#filesB-button {
	max-width: 159px;
	padding: 8px 12px;
}
#filesA-button {
	padding: 8px 12px;
	.ui-selectmenu-button.ui-button{
	
		color: rgba(255, 255, 255, 0.4);
		&:hover {
			color: rgba(255, 255, 255, 0.4);
			.ui-icon {
				background-image: url("../images/down.png");
			}
		}
		&:active {
			color: rgba(255, 255, 255, 0.4);
			.ui-icon {
				background-image: url("../images/down.png");
				transform: scale(1, -1);
				transition: 0.5s;
			}
		}
		&:focus {
			color: rgba(255, 255, 255, 0.4);
			.ui-icon {
				background-image: url("../images/down.png");
				transform: scale(1, -1);
				transition: 0.5s;
			}
		}
	}
}
.ui-selectmenu-button.ui-button{
	
	color: rgba(255, 255, 255, 0.4);
	&:hover {
		color: rgba(255, 255, 255, 0.4);
		.ui-icon {
			background-image: url("../images/down.png");
		}
	}
	&:active {
		color: rgba(255, 255, 255, 0.4);
		.ui-icon {
			background-image: url("../images/down.png");
			transform: scale(1, -1);
			transition: 0.5s;
		}
	}
	&:focus {
		color: rgba(255, 255, 255, 0.4);
		.ui-icon {
			background-image: url("../images/down.png");
			transform: scale(1, -1);
			transition: 0.5s;
		}
	}
}
.ui-selectmenu-button.ui-button {
	background: none;
	border-radius: 0px;
	border: 1px solid #E1E1E1;
}
.ui-button .ui-icon {
	background-image: url("../images/down.png");
	background-position: center;
	transition: 0.5s;
}
.ui-widget.ui-widget-content {
	background-color: #E1E1E1;
	border: 0px;
}

.ui-menu-item-wrapper.ui-state-active {
	background-color: #bcbcbc!important;
	font-weight: 600!important;
}



.text__color {
	font-size: $sizeFont * 1.8;
	color: #fff;
	text-transform: uppercase;

	display: flex;
	align-items: center;
	span {
		display: block;
		margin-left: 10px;
		width: 16px;
		height: 16px;
		background-color: red;	
	}
}
.text__size {
	margin-right: 10px;
	max-width: 159px;
	width: 100%;
	background: none;
	border-radius: 0px;
	border: 1px solid #E1E1E1;
	color: rgba(255, 255, 255, 0.4);
	padding: 4px 10px;
}



.ui-menu-item {
	color: #1c1c1c;
	font-weight: 600;
	.ui-menu-item-wrapper {
		padding: 6px 20px 6px 30px;
	}
}







#input__color, #input__size {
	max-width: 159px;
	.dd-selected-text {
		font-size: $sizeFont * 1.8;
		line-height: 100%!important; 
		color: rgba(255,255,255,.4);
		font-weight: normal;
		margin: 0px;
	}
	.dd-selected {
		 padding: 8px 12px;

		 display: flex;
		 align-items: center;
	}
	.dd-pointer-down {
		border-top: solid 5px #e1e1e1;
	}
	.dd-pointer-up {
		border-bottom: solid 5px #e1e1e1!important;
	}
	.dd-options  {
		&.dd-click-off-close {
			box-shadow: unset!important;
			background: none!important;
			background: #e1e1e1!important;
    		border: 0;
		}
		.dd-option {
			display: flex;
			align-items: center;
			&.dd-option-selected {
				background: none!important;
			}
			&:hover {
				background: #bcbcbc;
			}
			&.dd-option-selected {
				position: relative;
				&:before {
					position: absolute;
					display: block;
					content: "";
					top: calc(50% - 10px);
					right: 8px;
					width: 20px;
					height: 16px;
					background-image: url(../images/ok.svg);
					background-size: 100%;
				}
			}
		}
		.dd-option-text {
			color: #1c1c1c;
			line-height: 100%!important; 
			font-weight: 600;
			margin: 0px!important;
		}
	}
}