/* INCLUD SASS */
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "library/slick/slick-theme.scss";
@import "library/slick/slick.scss";
@import "library/jquery.mCustomScrollbar.css";
@import "library/jquery-ui.css";
@import "library/all.css";
@import '../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css';

@import "default/_default";
@import "preloader/_preloader";
@import "header/_header";
@import 'welcome/_welcome';
@import "catalog/_catalog";
@import 'portfolio/_portfolio';
@import 'breadcrumb/_breadcrumb';
@import "about/_about";
@import "cart/_cart";
@import "order/_order";
@import "product/_product";
@import "partners/_partners";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "footer/_footer";


.slick-arrow {
	cursor: pointer;
}
.slick__wrap__category {
	padding: 2rem 0 4rem 0;
	.slick__category {
		padding: 0px 20px;
		.slick-slide {
			padding: 0 10px;
			@media (max-width: 576px) {
				padding: 0px;
			}
		}
		.slick-dots {
			margin-top: 20px;
			width: 100%;
			background-color: #fff;
			height: 6px;
			border-radius: 20px;
			position: unset;
			display: flex;
			overflow: hidden;
			li {
				height: unset;
				margin: 0px;
				flex:1 1 auto;
				&.slick-active {
					background-color: #B79B6C;
				}
				button {
					height: unset;
					width: unset;
					padding: 0px;
				}
			}
		}
		@media (max-width: 576px) {
			padding: 0px;
		}
	}
	.slider_arrow_prev, .slider_arrow_next  {
		position: absolute;
		top: 35%;
		transform: translateY(-50%);
	}
	.slider_arrow_prev {
		left: -20px;
	}
	.slider_arrow_next {
		right: -20px;
		.card_item_arrow {
			transform: rotate(180deg);
		}
	}
	.slick__category__title {
		transition: 0.5s;
		display: block;
		padding-bottom: 20px;
		font-size: $sizeFont * 2;
		color: #fff;
	}
	.slick__category__description {
		transition: 0.5s;
		padding-bottom: 20px;
		display: block;
		padding-top: 0px;
		padding-bottom: 0px;
		color: rgba(255,255,255, 0.6);
		font-size: $sizeFont * 1.4;
		line-height: 21px;
	}
	.slick__category__dots {
		transition: 0.5s;
		font-size: $sizeFont * 2;
		color: #fff;
	}
	.slick__category__item {
		&:hover {
			text-decoration: none;
			.slick__category__title, 
			.slick__category__dots {
				color: $mainTextColor;
			}
			.slick__category__description {
				color: #fff;
			}
		}
	}
}



.looked {
	h2 {
		color: #fff;
		font-family: "Montserrat";
		font-size: $sizeFont * 1.8;
		text-transform: uppercase;
		padding-bottom: 30px;
		letter-spacing: 2px;
	}
	.slick-slide {
		padding: 0px 15px;
	}
	.looked__slick {
		position: relative;
		.slick-arrow {
			position: absolute;
			transform: translateY(-50%);
			cursor: pointer;
			@media (max-width: 991px) {
				width: 63px;
				height: 63px;
				border-radius: 100%;
				background-color: rgba(255, 255, 255, 0.71);

				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		.slider_arrow_prev {
			left: -27px;
			top: 50%;
			z-index: 1000;
			@media(max-width: 991px) {
				left: -6px;
			}
		}
		.slider_arrow_next {
			right: -27px;
			top: 50%;
			z-index: 1000;
			svg {
				transform: rotate(180deg);
			}
			@media(max-width: 991px) {
				right: -6px;
			}
		}
		
	}
	padding-bottom: 40px;
}

.social {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 65px;
	a {
		color: rgba(255, 255, 255, 0.8);
		font-size: 26px;
	}
}
.navigation__burger__content {
	height: 60%;
	@media (max-width: 991px) {
		display: none;
		position: fixed;
		right: 0px;
		top: 50%;
		transform: translateY(-50%);
	}
}
.navigation__burger__content__first {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
	cursor: pointer;
}
.navigation__burger__content__price {
	color: #fff;
	font-size: $sizeFont * 1.5;
	line-height: 130%;
	span {
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
	}
}
.navigation__burger__content__basket {
	width: 48px;
	height: 48px;
	background-color: rgba(255, 255, 255, 1);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	margin: 20px 0 10px 0;
	position: relative;
	cursor: pointer;
	.navigation__burger__content__basket__count {
		position: absolute;
		width: 18px;
		height: 18px;
		background-color: rgba(222, 222, 254, 1);
		right: 0px;
		top: 0px;

		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;

		font-family: "ProximaNovaCondRegular";
		font-size: $sizeFont * 1.1;
	}
}
.welcome__cat {
	h1 {
		font-size: $sizeFont * 6.2;
		line-height: 140%;
	}
	p {
		padding-top: 34px;
	}
}

ul {
	li {
		color: #fff;
		font-weight: 300;
		font-size: $sizeFont * 1.4;
		letter-spacing: 1px;
	}
}