.header {
	position: absolute;
	z-index: 9;
	top: 0px; right: 0px; left: 0px;
	padding: 40px 0 0 0;
	.navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		ul {
			list-style: none;
			padding: 0px; margin: 0px;
			li {
				a {
					transition: 0.5s;
					font-size: $sizeFont * 1.2;
					letter-spacing: 1pt;
					text-transform: uppercase;
					color: rgba(255, 255, 255, 0.7);
					position: relative;
					margin: 0px 30px;
					&.active {
						transition: 0.5s;
						color: rgba( 255, 255, 255, 1);
						&:before {
							width: 30PX;
							background-color: #fff;
						}
					}
					&:hover {
						transition: 0.5s;
						color: $mainTextColor;
						text-decoration: none;
						&:before {
							width: 30PX;
							background-color: $mainTextColor;
						}
					}
					&:before {
						position: absolute;
						bottom: -10px;
						left: 0px;
						height: 2px;
						width: 0PX;
						background-color: #fff;
						content: "";
						display: block;
						transition: 0.5s;
					}
				}
			}
		}
	}
	@media (max-width: 1200px) {
		padding: 38px 0 0 0;
	}
	@media (max-width: 991px) {
		padding: 20px 0 0 0;
	}
}
.navigation__burger {
	position: fixed;
	top: 0px; right: 0px; bottom: 0px;
	padding: 40px 20px 20px 20px;
	z-index: 100;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;

	@media (max-width: 991px) {
		bottom: unset;
	}
}
.btn__burger {
	width: 34px;
	height: 20px;
	position: relative;
	cursor: pointer;
	z-index: 9999;
	span{
		cursor: pointer;
		position: absolute;
		display: block;
		height: 4px;
		border-radius: 10px;
		background-color: #fff;
		transition: 0.5s;

		transform-origin: 50% 50%;
		&:nth-child(1){
			width: 100%;
			top: 0px;
		}
		&:nth-child(2) {
			width: 70%;
			top: calc(50% - 2px);
			opacity: 100;
		}
		&:nth-child(3) {
			width: 80%;
			bottom: 0px;
		}
	}
	&.active {
		span {
			width: 100%;
		    &:nth-child(1){
				top: 0px;
				transform: rotate(45deg);
			}
			&:nth-child(2) {
				opacity: -100;
			}
			&:nth-child(3){
				bottom: unset;
				top: 0px;
				transform: rotate(-45deg);
			}
		}
	}
	&:hover {
		span {
			background-color: $mainTextColor;
		}
	}
}

.btn__menu {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

.navigation__content {
	position:  fixed;
	z-index: 20;
	overflow: hidden;
	left: -100%;
	.navigation__content_first {
		position:  fixed;
		z-index: 11;
		background-color: rgba(0, 0, 0, 0.9);
		top: 0px;
		bottom: 100%;
		left: 0px;
		right: 50%;
		transition: 0.5s;
	}
	.navigation__content_second {
		position:  fixed;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.9);
		bottom: 0px; top: 100%;
		right: 0px; left: 50%;
		transition: 0.5s;
	}
	ul {
		list-style: none;
		padding: 0px;
		margin: 0px;

		position: relative;
		z-index: 12;
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center; 
		li {
			a {
				font-size: $sizeFont * 4;
				color: #fff;
				text-decoration: none;
				opacity: -100;
				transition: 0.5s;
				font-weight: bold;
				@media (max-width: 991px) {
					font-size: $sizeFont * 2;
				}
			}
		}
	}
	&.active {
		top: 0px; right: 0px; bottom: 0px; left: 0px;
		.navigation__content_first {
			bottom: 0px;
		}
		.navigation__content_second {
			top: 0px;
		}
		ul {
			li {
				a {
					opacity: 100;
					transition: 0.5s;
				}
			}
		}
	}
}