.product {
	padding-top: 155px;
	padding-bottom: 30px;
	
	img {
		display: block;
	}
	.product__item {
		max-width: 100%;
		display: grid;
		grid-template-rows: minmax(100px, 0px) minmax(100px, 0px) minmax(100px, 0px)  minmax(200px, 0px) 1fr 1fr;
		grid-template-columns: repeat(12,1fr);
		grid-gap: 0px;
		grid-template-areas:
			"second second second second second second second first first first first first"
			"second second second second second second second third third third third third"
			"second second second second second second second fourth fourth fourth fourth fourth"
			"second second second second second second second fourth fourth fourth fourth fourth"
			"second second second second second second second fifth fifth fifth fifth fifth"
			"second second second second second second second footer footer footer footer footer";
		.product__item__content {
			display: block;
			&:nth-child(1) {
				grid-area: first;
			}
			&:nth-child(2) {
				grid-area: second;
				padding-right: 2rem;
				@media (max-width: 991px) {
					padding-right: 0px;
				}
			}
			&:nth-child(3) {
				grid-area: third;
			}
			&:nth-child(4) {
				grid-area: fourth;
			}
			&:nth-child(5) {
				grid-area: fifth;
			}
			&:nth-child(6) {
				grid-area: footer;
			}
			@media (max-width: 991px) {
				max-width: 100%;
			}
		}
		@media (max-width: 1200px) {
			grid-template-areas:
				"second second second second second second second second second second second second"
				"second second second second second second third third third third third third"
				"second second second second second second fourth fourth fourth fourth fourth fourth"
				"second second second second second second fourth fourth fourth fourth fourth fourth"
				"second second second second second second fifth fifth fifth fifth fifth fifth"
				"second second second second second second footer footer footer footer footer footer";
		}
		@media (max-width: 991px) {
			display: block;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(6, auto);
			grid-template-areas:
			"second"
			"second"
			"third"
			"fourth"
			"fifth"
			"footer";
		}
	}
	.product__view {
		overflow: hidden;
		a {
			display: block;
			width: 100%;
		}
	}
	#product__view__slider {
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	#product__view__input {
		.slick-slide {
				& > div {
					padding: 0 10px;
				}
			
		}
	}
	.product__view_more {
		display: block;
		
		@media (max-width: 991px) {
			width: 100%;
		}
	}
	.product__content__second, .product__content__header {
		h1, .product__price {
			padding: 0px 0 4px 0;
			margin: 0px;
			color: #fff;
			font-size: $sizeFont * 2.4;
			font-weight: bold;
		}
		.product__top__review {
			color: #fff;
			font-size: $sizeFont * 1.4;
			font-family: 'Poppins', sans-serif;
			padding-right: 20px;
			margin-right: 20px;
			border-right: 1px solid #fff;
			&:hover {
				text-decoration: none;
			}
		}
		.product__top__add {
			color: #fff;
			font-size: $sizeFont * 1.4;
			font-family: 'Poppins', sans-serif;
			text-decoration: underline;
		}
	}
	.product__more {
		font-family: 'Poppins', sans-serif;
		color: rgba(255, 255, 255, 0.3);
		font-size: $sizeFont * 1.4;
		letter-spacing: 1px;
	}
	.product__description {
		color: #fff;
		font-weight: 300;
		font-size: $sizeFont * 1.4;
		line-height: 200%;
		padding-bottom: 30px;
		letter-spacing: 1px;
	}
	.product__clear {
		color: #fff;
		font-size: $sizeFont * 1.4;
		text-transform: uppercase;
		text-decoration: underline;
		display: block;
	}
	.product__link__basket, .product__link__add {
		font-size: $sizeFont * 1.1;
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		border: 1px solid transparent;
		transition: 0.2s;
		padding: 20px 30px;
		display: block;
		width: 49%;
		&:hover {
			cursor: pointer;
			transition: 0.2s;
			color: $mainTextColor;
			border: 1px solid $mainTextColor;
			text-decoration: none;
		}
		&:active {
			color: $mainTextColor;
			border: 1px solid $mainTextColor;
			background-color: #fff;
		}
	}
	.product__link__add {
		border: 1px solid #fff;
	}









	@media (max-width: 1200px) {
		padding-top: 114px;
	}
	@media (max-width: 991px) {
		padding-top: 80px;
	}
}